{
  "extends": "./node_modules/carbon-factory/.eslintrc",
  "globals": {
    "jest": false
  },
  "plugins": [
    "cypress"
  ],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "multiline-ternary": "off",
    "react/prefer-stateless-function": "off"
  }
}
